<!DOCTYPE html>
<html>
<head>
    <title>Новая задача назначена</title>
</head>
<body>
<p>Уважаемый(ая) {{userName}},</p>
<p>Вашей организации назначена новая задача:</p>
<ul>
    <li>Пакет задач: {{taskPackageOutgoingRequisite}}</li>
    <li>Название: {{taskName}}</li>
    <li>Номер: {{taskNumber}}</li>
    <li>Срок выполнения: {{deadline}}</li>
    <li>Уровень опасности: {{dangerStatus}}</li>
</ul>
<p>Пожалуйста, приступите к выполнению задачи как можно скорее.</p>
<p>С уважением,<br>Команда поддержки</p>
</body>
</html>