<!DOCTYPE html>
<html>
<head>
    <title>Напоминание о сроке выполнения задачи</title>
</head>
<body>
<p>Уважаемый(ая) {{userName}},</p>
<p>Пакет задач: "{{taskPackageOutgoingRequisite}}". Срок выполнения задачи "{{taskNumber}}" истекает через {{daysLeft}}
    дней ({{deadline}}).</p>
<p>Пожалуйста, завершите выполнение задачи в установленный срок.</p>
<p>С уважением,<br>Команда поддержки</p>
</body>
</html>