<!DOCTYPE html>
<html>
<head>
    <title>Новая задача назначена</title>
</head>
<body>
<h1>Уведомление об изменении критичности задачи</h1>
<p>Уважаемый {{userName}},</p>
<p>В пакете "{{taskPackageOutgoingRequisite}}" изменилась критичность задачи "{{taskNumber}}". Статус критичности был
    повышена с "{{oldStatus}}" до "{{newStatus}}".</p>
<p>Новый срок выполнения: {{newDeadline}}</p>
</body>
</html>